<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.whatsappandroid.com.cursoandroid.whatsapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".activity.activity.activity.activity.config.Configuracao"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.activity.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.activity.activity.MainActivity" />
        <activity android:name=".activity.activity.activity.activity.CadastroUsuarioActivity" />
        <activity android:name=".activity.activity.activity.activity.GravadorActivity" />
        <activity android:name=".activity.activity.activity.activity.SavedRecordings" />
        <activity android:name=".activity.activity.activity.activity.CadastroPaciente" />
        <activity android:name=".activity.activity.activity.activity.GravacaoActivity" />
        <activity android:name=".activity.activity.activity.activity.VoiceRecorderActivity"></activity>
    </application>

</manifest>